# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~
